body{
  font-family: sans-serif;
}

#app{
  margin: 125px;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px;
}

#submitButton{
  margin-bottom: 25px;
}
